@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

#site-title {
  display: block !important;
  font-family: 'Zhi Mang Xing', cursive !important;
  font-size: 4.5rem !important;
  color: #ffffff !important;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.8) !important;
  

  padding-top: 60vh !important; 
  margin-bottom: 0 !important;
  visibility: visible !important;
}

#site-subtitle {
  display: block !important;
  font-family: 'Zhi Mang Xing', cursive !important;
  font-size: 1.5rem !important;
  padding-top: 5px !important;
}

#nav .site-name {
  display: none !important;
}