@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

html, body, #web_container {
  background-color: #0b0b0d !important;
  background-image: none !important;
}

#site-title, #site-subtitle {
  font-family: 'Zhi Mang Xing', cursive !important;
}
#site-title {
  display: block !important;
  font-family: 'Zhi Mang Xing', cursive !important;
  font-size: 4.5rem !important;
  color: #ffffff !important;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.8) !important;
  

  padding-top: 25vh !important; 
  margin-bottom: 0 !important;
  visibility: visible !important;
}

#site-subtitle {
  display: block !important;
  font-family: 'Zhi Mang Xing', cursive !important;
  font-size: 1.5rem !important;
  padding-top: 5px !important;
}

#nav .site-name {
  display: none !important;
}

#nav {
  background: transparent !important; 
  border-bottom: none !important;      
  box-shadow: none !important;        
  height: 100px !important;            
}

#nav #blog-info .nav-site-title .site-icon {
  height: 100px !important;
  filter: 
    brightness(2.0) 
    contrast(1.2) 
    drop-shadow(0 0 8px rgba(162, 89, 255, 0.9)) !important; 
  
  transition: all 0.3s ease !important;
}

#nav #blog-info .nav-site-title .site-icon:hover {
  filter: brightness(2.0) drop-shadow(0 0 15px rgba(255, 255, 255, 0.9)) !important;
  transform: scale(1.05); 
}

#nav.show {
  background: transparent !important;
}

#page-header.full_page:before {
  background: none !important;
}

#page-header.full_page:after {
  background: none !important;
}

#web_container, #body-wrap, #page-header {
  box-shadow: none !important;
  background-color: transparent !important;
}

#aside-sidebar .card-info #card-info-btn {
  background-color: #44ad65 !important; 
  color: #fff !important;
}

#aside-sidebar .card-info #card-info-btn:hover {
  background-color: #44ad65 !important; 
}


#aside-sidebar .card-announcement .item-headline i:before {
  content: "\f06c" !important; 
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
}

#aside-sidebar .card-announcement .item-headline i:before {
  content: "\f3eb" !important; 
}


#aside-sidebar .card-announcement .item-headline i {
  color: #59ffa9 !important; 
  animation: none !important; 
}

